[alias]
    	s = status
	c = checkout
	m = !sh -c 'git checkout $(git defaultbranch)'
	b = branch
	r = remote -v
	last = log -1 HEAD # View last commit message
	tree = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit # Generates a history tree
	cleanmerged = !sh -c 'git branch --merged $(git defaultbranch) | grep -v $(git defaultbranch) | xargs -I "{}" git branch -D "{}"' -
	sync = !sh -c 'git fetch && git remote prune origin && git cleanmerged' # Synchronize local machine to origin's state.
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"' # View new commits
	defaultbranch = !sh -c 'git symbolic-ref refs/remotes/origin/HEAD | sed "s@^refs/remotes/origin/@@"'
	cleanbranch = !sh -c 'git checkout $(git defaultbranch) && git pull origin $(git defaultbranch) && git checkout --b $0' # Switch to a new feature branch quickly
	undo = reset --soft HEAD^
[user]
	name = erwinvaneyk
	email = erwinvaneyk@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com
[pull]
	rebase = true
[init]
	defaultBranch = main
